<h4>Parcel Desccription: <%= @parcel.name %></h4>
<li>Width: <%= @parcel.width %></li>
<li>Height: <%= @parcel.height %></li>
<li>Length: <%= @parcel.length %></li>
<li>Weight: <%= @parcel.weight %></li>
<li>Distance: <%= @parcel.distance %></li>
<li>Regular shipping cost: <%= @parcel.regular_cost %></li>
<li>Express shipping cost: <%= @parcel.express_cost %></li>

<p><a href="/parcels/<%= @parcel.id %>/edit">Edit parcel</a></p>
<a href="/parcels">Return to parcels list</a>
