<h4>Parcel Desccription: <%= @parcel.name %></h4>
<li><%= @parcel.width %></li>
<li><%= @parcel.height %></li>
<li><%= @parcel.length %></li>
<li><%= @parcel.weight %></li>
<li><%= @parcel.distance %></li>
<li><%= @parcel.cost %></li>

var ship_fast = $("input:radio[name=flavor]:checked").val();

<p><a href="/parcels/<%= @parcel.id %>/edit">Edit parcel</a></p>
<a href="/parcels">Return to parcels list</a>
